.header__adaptive {
	display: none;
}
.header__menu-burger {
	display: none;
}
.header {
	position: fixed;
	margin-top: 24px;
	left: 50%;
	z-index: 50;
	transform: translateX(-50%);
}
.header__container {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-radius: 12px;
	padding: 16px 24px;
	width: 1224px;
	height: 56px;
}
.header__logo {
	font-size: 20px;
	font-family: "Inter", sans-serif;
	font-weight: 700;
	color: #2D66EE;
	text-decoration: none;
	white-space: nowrap;
}
#phone-number {
	background-image: url(/src/assets/icons/svg/🇰🇿.svg);
	padding-left: 25px;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: left;
}
.header__menu {
	display: flex;
}
ul {
	margin: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #101828;
}
.navbar-logo {
	color: #2D66EE;
	width: 120px;
	height: 24px;
}
.header__nav {
	display: flex;
	gap: 24px;
	padding: 0;
	font-family: SF-Pro-Text;
	font-size: 14px;
}
.header__contacts {
	display: flex;
	gap: 32px;
	flex-wrap: nowrap;
}
.contacts-telephone {
	display: flex;
	align-items: center;
	gap: 8px;
}
.contacts__telephone-item {
	display: flex;
	gap: 16px;
	align-items: center;
}
.contacts__item-img1 {
	width: 24px;
	height: 24px;
	gap: 8px;
}
.item {
	display: flex;
	align-items: flex-start;
}
.contacts__item {
	font-size: 14px;
	font-family: "SF-Pro-Text", sans-serif;
	font-weight: 500;
	white-space: nowrap;
	color: #2D66EE;
	gap: 16px;
}
.contacts__email {
	display: flex;
	align-items: center;
	gap: 8px;
}
.contacts__item-img2 {
	width: 24px;
	height: 24px;
}
@media (max-width: 1439px) {
	.header__menu {
		display: none;
	}
	.contacts-telephone {
		display: none;
	}
	.header__menu-burger {
		display: flex;
		flex-direction: column;
		gap: 8px;
		span {
			background: #2D66EE;
			width: 59px;
			height: 8px;
			flex-shrink: 0;
		}
		&:after {
			bottom: 8px;
		}
		&:before {
			top: 8px;
		}
	}
	.header__logo {
		font-size: 20;
		font-family: "Inter", sans-serif;
		font-weight: 700;
		color: #2D66EE;
		text-decoration: none;
		white-space: nowrap;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.contacts__email {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}
	.header__container {
		display: flex;
		width: 100%;
		height: 90px;
		padding: 24px 32px;
		justify-content: space-between;
		flex-shrink: 0;
	}
	.header {
		position: fixed;
		margin-top: 24px;
		top: 0;
		z-index: 50;
		width: 100%;
		max-width: 1224px;
	}
}
@media (max-width: 767px) {
	.header__contacts {
		display: none;
	}
	.header__container {
		display: inline-flex;
		height: 90px;
		padding-left: 16px;
		align-items: center;
		gap: 300px;
		flex-shrink: 0;
	}
	.header__menu-burger {
		display: flex;
		flex-direction: column;
		gap: 4px;
		span {
			background: #2D66EE;
			width: 40px;
			height: 4px;
			flex-shrink: 0;
		}
		&:after {
			bottom: 4px;
		}
		&:before {
			top: 4px;
		}
	}
}
