$color_1: #fff;
$color_2: #667085;
$font-family_1: SF-Pro-Text;
$background-color_1: #f2f4f7;
$background-color_2: #2d66ee;

.best__projects-block{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 63px;
}

.best__projects-block-intro{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 600px;
}

.best_projects-ul-items ul{
    margin-top: 31px;
    padding: 0;
    display: flex;
    min-width: 300px;
    gap: 20px;
    flex-wrap: wrap;
    a {
        color: #1D2939;
        font-family: SF-Pro-Text;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.408px;
        text-decoration: none;
        white-space: nowrap;
    }
}