$font-family_1: SF-Pro-Text;
$background-color_1: #fff;

.projects{
    z-index: 3;
}
.projects__block {
	padding-top: 80px;
	padding-bottom: 120px;
}
.projects__block-text {
	max-width: 600px;
}
.projects__block-lists {
	margin-top: 28px;
	max-width: none;
}
.projects__block-lists-ul {
	display: inline-flex;
	align-items: flex-start;
	gap: 210px;
	li {
		>img {
			z-index: 10;
			height: 24px;
			position: absolute;
			top: 10px;
			left: 10px;
			width: 24px;
		}
		position: relative;
		display: flex;
		gap: 16px;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 10px;
		font-family: $font-family_1;
		font-size: 17px;
		&::before {
			content: "";
			border-radius: 100px;
			padding: 22px;
			background-color: $background-color_1;
		}
	}
}
.hide_photos {
	display: none;
}
@media (max-width: 1439px) {
	.projects__block-lists-ul {
		display: flex;
		gap: 138px;
		min-height: 601px;
		padding: 0;
	}
	.projects__block-text {
		font-size: 28px;
		max-width: 380px;
	}
	.list1 {
		min-width: 171px;
		max-height: 457px;
	}
	.hide_photos {
		display: block;
	}
	.list3 {
		display: none;
	}
	.projects__block-lists {
		margin-top: 48px;
		max-width: 601px;
		display: flex;
	}
	.projects__block {
		padding-top: 45px;
		padding-bottom: 44px;
	}
}
@media (max-width: 767px) {
	.projects__block-lists-ul {
		padding: 0;
		display: flex;
		gap: 32px;
		min-width: 369px;
		li {
			display: flex;
			gap: 16px;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 10px;
			font-family: $font-family_1;
			font-size: 14px;
		}
	}
}
