.header {
    position: fixed;
    margin-top: 24px;
    top: 0;
    z-index: 50;
}

.header__container {
    display: inline-flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 16px 24px;
    gap: 80px;
    width: 1224px;
    height: 56px;
}
.header__logo{
    font-size: 20;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #2D66EE;
    text-decoration: none;
    white-space: nowrap;
}
.header__menu{
    display: flex;
}

ul{
    margin: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #101828;
}
.navbar-logo {
    color: #2D66EE;
    width: 120px;
    height: 24px;
}
.header__nav {
    /* display: flex;
    align-items: flex-start;
    gap: 24px;
    padding-left: 0; */
    display: flex;
    gap: 24px;
    padding: 0;
    font-family: SF-Pro-Text;
    font-size: 14px;
}
.header__contacts {
    display: flex;
    width: 472px;
    height: 24px;
    gap: 32px;
    flex-wrap: nowrap;
}
.contacts-telephone {
    display: flex;
    align-items: center;
    gap: 8px;
}
.contacts__telephone-item {
    display: flex;
    gap: 16px;
    align-items: center;

}
.contacts__item-img1 {
    width: 24px;
    height: 24px;
    gap: 8px;

}
.item {
    display: flex;
    align-items: flex-start;
}
.contacts__item {
    font-size: 14px;
    font-family: "SF-Pro-Text", sans-serif;
    font-weight: 500;
    white-space: nowrap;
    color: #2D66EE;
    gap:16px;
}
.contacts__email {
    display: flex;
    align-items: center;
    gap: 8px;
}
.contacts__item-img2 {
    width: 24px;
    height: 24px;
}
