.header__adaptive{
    display: none;
}
.header {
    position: fixed;
    margin-top: 24px;
    top: 0;
    z-index: 50;
}

.header__container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 16px 24px;
    width: 1224px;
    height: 56px;
}
.header__logo{
    font-size: 20;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #2D66EE;
    text-decoration: none;
    white-space: nowrap;
}
.header__menu{
    display: flex;
}

ul{
    margin: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #101828;
}
.navbar-logo {
    color: #2D66EE;
    width: 120px;
    height: 24px;
}
.header__nav {
    /* display: flex;
    align-items: flex-start;
    gap: 24px;
    padding-left: 0; */
    display: flex;
    gap: 24px;
    padding: 0;
    font-family: SF-Pro-Text;
    font-size: 14px;
}
.header__contacts {
    display: flex;
    width: 472px;
    height: 24px;
    gap: 32px;
    flex-wrap: nowrap;
}
.contacts-telephone {
    display: flex;
    align-items: center;
    gap: 8px;
}
.contacts__telephone-item {
    display: flex;
    gap: 16px;
    align-items: center;

}
.contacts__item-img1 {
    width: 24px;
    height: 24px;
    gap: 8px;

}
.item {
    display: flex;
    align-items: flex-start;
}
.contacts__item {
    font-size: 14px;
    font-family: "SF-Pro-Text", sans-serif;
    font-weight: 500;
    white-space: nowrap;
    color: #2D66EE;
    gap:16px;
}
.contacts__email {
    display: flex;
    align-items: center;
    gap: 8px;
}
.contacts__item-img2 {
    width: 24px;
    height: 24px;
}

@media(max-width: 768px) { 
    .header__menu, .contacts-telephone{
        display: none;
    }

    .header__logo{
        font-size: 20;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        color: #2D66EE;
        text-decoration: none;
        white-space: nowrap;
    }

    .contacts__email{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .header__container{
        display: flex;
        width: 768px;
        height: 90px;
        padding: 25px 32px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .header{
        position: fixed;
        margin-top: 24px;
        top: 0;
        z-index: 50;

        /* display: flex;
        width: 768px;
        height: 90px;
        padding: 25px 32px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0; */
    }

    .header__menu-burger span, header__menu-burger:after, header__menu-burger:before{
        position: absolute;
        background: #2D66EE;
        width: 59px;
        height: 8px;
        margin-top: 41px;
        left: 32px;
    }

    .header__menu-burger span{
        top: 21px;
    }
    .header__menu-burger:after, header__menu-burger:before{
        content: '';
    }
    .header__menu-burger:after{
        bottom: 5px;
    }
    .header__menu-burger:before{
        top: 5px;
    }
}
